@mixin backImage($image, $height: 800px) {
  background: url($image);
  background-repeat: repeat-x;
  margin: 0;
  background-position: center center;
  height: $height;
  width: 100%;
}
// could not get this mixin for media queries
@mixin break($args...) {
  @if length($args) == 1 {
    @media (min-width: nth($args, 1)) {
      @content;
    }
  }
}
