@import url("http://fonts.googleapis.com/css?family=Roboto:400,900,100");

$text-red:     #E65C43;
$rated-bar:    #F25C43;
$lightgrey:   #666;
$darkgrey:    #30353D;
$bottombar:   #F5F6F6;
$white:       #FFF;


$font-body: Roboto, sans-serif;